/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #eee;
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: url(../imgs/cover01.jpg) no-repeat center fixed;
  background-size: cover;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(225, 225, 225, 3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(225, 225, 225, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #16162d; /* ///////////////////////////////////////*/
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: "Expletus Sans", cursive;
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, #ffe838, #fd57bf);
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.landing-text h1,
h3 {
  font-size: 15rem;
  font-family: "Arizonia", cursive;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
  user-select: none;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}
/*End header*/

/*Start About*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 3rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about .container .profile-img img {
  height: 90%;
  width: 100%;
  border-radius: 5%;
}

.about-details {
  flex: 1;
}

/*End About*/

/* Start Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills .skill-box {
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}

.skills .skill-box .skill-name {
  width: 250px;
  letter-spacing: 2.5px;
  color: #ffe838;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  font-size: 1.5rem;
}
.skills .skill-box .skill-name i {
  text-align: center;
  font-size: 3rem;
}

.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.skills .skill-box .skill-progress span {
  font-size: 17px;
  text-align: center;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fd8700;
  transition: all 2s;
}

.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, lfr));
  grid-gap: 2.5rem;
  text-align: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill .skill-container {
  display: flex;
  padding: 1px;
}

.skill .skill-container .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}

.skill .skill-container .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #eee;
  transition: all 2s;
}

.skill-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
}
/*End Skills*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  width: 50rem;
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 3650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}
/*End portfolio*/

/*End timeline*/
.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 3rem;
  opacity: 0.3;
}

.timeline h2 a {
  text-decoration: underline;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2rem;
  opacity: 0.3;
}

.timeline p {
  padding-top: 30px;
}

.timeline .date {
  border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-20%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -25rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
/*End timeline*/

/*Start contact*/
.contact .container {
  display: flex;
  align-items: center;
  text-align: center;
}

.contact-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.contact-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.contact-heading h6 {
  margin-top: 5.5rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.contact-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 2.5rem;
  transition: color 650ms;
}

.fa-mobile {
  color: #38a1f3;
  font-size: 4rem; 
}

.fa-at {
  color: #eee;
  font-size: 4rem; 
}

.fa-linkedin {
  background: radial-gradient(
    circle at 30% 107%,
    #0e76a8 0%,
    #0e76a8 5%,
    #0e76a8 45%,
    #0e76a8 60%,
    #0e76a8 90%
  );
  -webkit-background-clip: text; /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem; 
}
/* color: #4267b2; */

.fa-facebook {
  background: radial-gradient(
    circle at 30% 107%,
    #4267b2 0%,
    #4267b2 5%,
    #4267b2 45%,
    #4267b2 60%,
    #4267b2 90%
  );
  font-size: 4rem; 
  border-radius: 50%;
}

.fa-twitter {
  color: #38a1f3;
  font-size: 4rem; 
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem; 
}

/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

.copyright p {
    font-size: 1.4rem;
}

#myBtn {
    position: fixed; /* Fixed/sticky position */
    width: 5rem;
    height: 5rem;
    background-color: #eee; /* Set a background color */
    display: none; /* Hidden by default */
    animation: pulse 2s infinite;

    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: 16162d; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    z-index: 99; /* Make sure it does not overlap */
}
#myBtn:hover {
    color: #ffe838;
    background-color: #fd57bf;
}

/*End footer*/

/*Start animation*/
@keyframes pulse {
    0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animation

/* media queries */

@media screen and (max-width: 768px) {
    body {
        background: url(../imgs/cover01.jpg) no-repeat center fixed;
        background-size: cover;
    }
    .landing-text h1 {
    font-size: 15rem;
    }

    .landing-text h6 {
    font-size: 1.7rem;
    }

    .nav-list {
    flex-direction: column;
    }

    li {
    margin: 2rem 0;
    }

    .nav-link {
    font-size: 4.5rem;
    }

    .about-heading h1 {
    font-size: 8rem;
    }

    .section-heading h1 {
    font-size: 3rem;
    }

    .about-details .nav-list {
    flex-direction: initial;
    }

    .about-details li {
    margin: 0 2rem;
    }

    .icon-container {
    width: 7rem;
    height: 7rem;
    }

    .icon-container i {
    font-size: 4rem;
    }

    .timeline ul {
    margin: 0 0 0 auto;
    }
    .timeline .date::before {
    left: -22rem;
    }
    .timeline .date::after {
    left: -5.9rem;
    }

    .menu-toggler {
    top: 2rem;
    right: 2rem;
    }
    .landing-text h1 {
    font-size: 8rem;
    }
    .landing-text h6 {
    font-size: 1.4rem;
    }
    .nav-link {
    font-size: 3.5rem;
    }
    .about .container {
    flex-direction: column;
    }
    .profile-img {
    margin: 0 0 7rem 0;
    }
    .portfolio-item {
    flex-direction: column;
    }
    .portfolio-img {
    margin: 0 0 2rem 0;
    border: 1;
    }
    .portfolio-description {
    margin: 0;
    border: 2;
    }
    .timeline p {
    font-size: 1.6rem;
    }
    .timeline .date::before {
    font-size: 1.4rem;
    }
    form {
    width: 100%;
    }
    .up {
    right: 2rem;
    }
}
