/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 3rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

section {
  padding: 70px 14% 60px;
}

a {
  text-decoration: none;
  color: #000;
}
a,
.btn {
  transition: all 300ms ease;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(85, 85, 85);
}

img {
  width: 100%;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem 0;
  cursor: default;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}

.has-margin-right {
  margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}

.top-nav {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: rgb(85, 85, 85, 0.95);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  color: #eee;
  font-family: "Expletus Sans", cursive;
  font-size: 3rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, #000, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: rgba(85, 85, 85, 0.61);
  width: 100%;
  height: 2px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.open .bar {
  background: #fff;
}
.open .bar.start {
  transform: rotate(-450deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-450deg) translateX(-0.8rem);
}

.hero .container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 83vh;
  gap: 2rem;
  text-align: center;
}

.hero-info {
  align-self: center;
  text-align: center;
}
.name {
  font-size: 4rem;
  text-align: center;
}
.hero-info p {
  font-weight: 600;
}
.hero-info-p1 {
  color: rgb(85, 85, 85);
}
.hero-info-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

section .hero {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}
.hero-info {
  align-self: center;
  text-align: center;
}
.name {
  font-size: 4rem;
  text-align: center;
}
.hero-info-p1 {
  color: rgb(85, 85, 85);
}
.hero-info-p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.cv-btn,
.contact-btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}
.cv-btn,
.contact-btn:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.cv-btn:hover {
  cursor: pointer;
  background: white;
  color: #000;
}

.contact-btn {
  background: none;
}

.contact-btn:hover {
  cursor: pointer;
  border: rgb(255, 255, 255) 0.1rem solid;
}

.hero-icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}
.hero-icon img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
/*End header*/

/*Start About*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
  cursor: default;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.about-heading h6 {
  font-size: 3rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.profile-img img {
  height: 90%;
  width: 100%;
  max-width: 400px;
  border-radius: 5%;
}

.about-text span {
  color: #ffe838d3;
  text-decoration: underline;
}

.about-details {
  flex: 1;
}

/*End About*/

/* Start Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.skills .skill-box {
  justify-content: center;
  display: inline-flex;
  padding: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.skills .skill-box .skill-name {
  letter-spacing: 2.5px;
  color: #000;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  margin-top: 4rem;
  border: 1px solid;
  padding: 4px 17px;
  border-radius: 40px;
  cursor: default;
}
.skills .skill-box .skill-name i {
  text-align: center;
  font-size: 2rem;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill .skill-container {
  display: flex;
  padding: 1px;
}

.skill-container i {
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
}
/*End Skills*/

/*Start Projects*/

.projects-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}
.project-box {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding: 1.5rem;
  flex: 1;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 450px;
}
.project-img-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.project-heading {
  margin: 1rem;
  color: #000;
  font-weight: 600;
  font-size: 1.75rem;
}
.project-details {
  text-align: left;
  font-size: 1rem;
  margin: 0 1rem;
}
.project-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.project-btn-container button {
  padding: 1rem;
  width: 8rem;
  font-weight: 600;
  color: black;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 2rem;
  background: none;
  transition: all 300ms ease;
  cursor: pointer;
}
.project-btn-container button:hover {
  background: rgb(53, 53, 53);
  color: white;
  cursor: pointer;
}
/*End Projects*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  width: 50rem;
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 3650ms;
}

.portfolio-description .cta:hover {
  color: #2f67cd;
}
/*End portfolio*/

/*End timeline*/
.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}

.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 3rem;
  opacity: 0.3;
}

.timeline h2 a {
  text-decoration: underline;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  margin-top: 2rem;
  opacity: 0.3;
}

.timeline p {
  padding-top: 30px;
}

.timeline .date {
  border-bottom: 1px solid rgba(225, 225, 225, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-20%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -25rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 100%;
  left: -8rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
/*End timeline*/

/*Start contact*/
.contact {
  display: flex;
  justify-content: center;
}
.contact .container {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 8rem 0;
}
.contact-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.contact-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}

.contact-details {
  flex: 1;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 2.5rem;
  transition: color 650ms;
}

.fa-mobile {
  color: #38a1f3;
  font-size: 4rem;
}

.fa-square-envelope {
  color: #eee;
  font-size: 4rem;
}

.fa-linkedin {
  border-radius: 0.5rem;
  background: radial-gradient(
    circle at 30% 107%,
    #0e76a8 0%,
    #0e76a8 5%,
    #0e76a8 45%,
    #0e76a8 60%,
    #0e76a8 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
}

/* .fa-facebook {
  background: radial-gradient(
    circle at 30% 107%,
    #4267b2 0%,
    #4267b2 5%,
    #4267b2 45%,
    #4267b2 60%,
    #4267b2 90%
  );
  font-size: 4rem;
  border-radius: 50%;
}

.fa-twitter {
  color: #38a1f3;
  font-size: 4rem;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
} */

/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  /* background-color: #16162d; */
  background-color: rgba(85, 85, 85, 0.7);
  padding: 0.2rem 0;
  position: relative;
}

.copyright p {
  color: #fff;
  font-size: 1rem;
}

#myBtn {
  position: fixed;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  display: none;
  animation: pulse 2s infinite;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  color: 16162d;
  cursor: pointer;
  padding: 15px;
  border-radius: 100%;
  font-size: 18px;
  z-index: 99;
}
#myBtn:hover {
  color: #ffe838;
  background-color: #fd57bf;
}

/*End footer*/

/*Start animation*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
/*End animation

/* media queries */

@media screen and (max-width: 1200px) {
  .landing-text h1 {
    font-size: 15rem;
  }

  .landing-text h6 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }

  .icon-container {
    width: 7rem;
    height: 7rem;
  }

  .icon-container i {
    font-size: 4rem;
  }

  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date::before {
    left: -22rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }

  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.4rem;
  }
  .nav-link {
    font-size: 3.5rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
    max-width: 400px;
  }
  .portfolio-item {
    flex-direction: column;
  }
  .portfolio-img {
    margin: 0 0 2rem 0;
    border: 1;
  }
  .portfolio-description {
    margin: 0;
    border: 2;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .date::before {
    font-size: 1.4rem;
  }
  form {
    width: 100%;
  }
  .up {
    right: 2rem;
  }
  .contact-heading h1 {
    font-size: 5rem;
  }
  .social-media .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .projects-container {
    flex-direction: column;
  }
}
